.data-page {
    color: #525252;
}

.data-page .section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 40px;
}

h2 {
    font-weight: 400;
    text-align: center;
}

.image {
    max-width: 400px;
}

.image img {
    width: 100%;
    height: auto;
}

.formulas {
    max-width: 560px;
}

.section .text {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

#secondText, #thirdText {
    align-self: flex-start;
}

.big-table {
    width: calc(100vw - 92px);
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.tables {
    margin-bottom: 50px;
}

table {
    width: 100%;
}

table tr {
    font-weight: 500;
}

table td {
    padding: 4px 7px;
}

table, tr, td {
    text-align: center;
    border: 2px solid white;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: rgb(9, 84, 132, 0.09);
}

tr:nth-child(odd) {
    background-color: rgb(9, 84, 132, 0.04);
}

thead tr:nth-child(odd) {
    background-color: rgb(9, 84, 132, 0.12);
}

/* .vertical {
    writing-mode:vertical-lr;
    transform: rotate(180deg);
} */

@media screen and (max-width: 768px) {
    .data-page .section {
        padding: 20px;
    }

    .big-table {
        width: calc(100vw - 60px);
    }
}
  
@media screen and (max-width: 480px) {
    .data-page .section {
        padding: 20px 10px;
    }

    table {
        font-size: 14px;
    }

    .big-table {
        width: calc(100vw - 40px);
    }
}